.login {
	width: 512px;
	height: 512px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: $color-gray;
	position: absolute;
	border-radius: $default-border-radius;
	left: 50%;
	top: 50%;
	transform: translateX(-20%) translateY(-50%);
	box-shadow: $default-box-shadow;
	//border: 1px solid $color-blue;
	&__item {
		display: flex;
		flex-direction: column;
		input {
			height: 40px !important;
			width: 320px !important;
		}
	}
	&__register {
		text-decoration: underline;
		margin-top: 8px;
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
		font-size: 16px;
	}
}
