.login {
	width: 512px;
	height: 512px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lightblue;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	&__item {
		display: flex;
		flex-direction: column;
		label {
			margin-bottom: 4px;
		}
		input {
		}
	}
	&__submit {
		width: 144px;
		height: 40px;
	}
}
