//colors
$color-border: lightgray;

$color-blue: #191970;

$color-gray: #dedede;
$color-danger: crimson;

//values
$sidebarWidth: 300px;

$default-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
$default-border-radius: 0px;
